{% block stylesheets %}
  <link href="{{ asset('build/css/partials/nav.css') }}" rel="stylesheet">
{% endblock %}

<div class="nav">
  {% for item in items %}
    {% include '/partials/nav-item.html.twig' with { 'item': item } %}
  {% endfor %}
</div>