{% extends 'base.html.twig' %}

{% block title %}LoL{% endblock %}

{% block body %}
  <div class="champions">
    {%
      include '/partials/nav.html.twig'
      with { 'items': items }
    %}
  </div>
{% endblock %}
