{% extends 'base.html.twig' %}

{% block title %}LoL{% endblock %}

{% block body %}
  <div class="lol">
    {%
      include '/partials/nav.html.twig'
      with {
        'items': [
          {
            'title': 'Champions',
            'image': 'lol/champions.png',
            'path': path(app.request.get('_route')) ~ '/champions'
          }
        ]
      }
    %}
  </div>
{% endblock %}
