{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  <div class="games">
    {%
      include '/partials/nav.html.twig'
      with {
        'items': [
          {
            'title': 'League of Legends',
            'image': 'alistar.jpg',
            'path': '/lol'
          },
          {
            'title': 'Civilization 6',
            'image': 'catherinedemedici.jpeg',
            'path': '/civ6'
          },
        ]
      }
    %}
  </div>
{% endblock %}
