{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <nav>
      <ul>
        <li><a href="/lol"><img href="{{ asset('build/images/alistar') }}" /></a></li>
        <li><a href="/civ6">Civilization 6</a></li>
      </ul>
    </nav>
{% endblock %}
