<div class="skill" id="{{ skill.button }}">
  <h2>
    <img src="{{ asset('build/assets/images/lol/champions/' ~ champion ~ '/' ~ skill.button ~ '.png') }}" />
    {{ skill.name }}
  </h2>
  <p>{{ skill.description | raw }}</p>
</div>