.skills {
  display: flex;

  .nav {
    .tab {

      &:hover {
        cursor: pointer;
      }
    }
  }

  .skill {
    display: none;

    h1 {
      flex-direction: row;

      img {

      }
    }
  }
}