{% extends 'base.html.twig' %}

{% block title %}LoL{% endblock %}

{% block body %}
  <ul>
    {% for name in names %}
      <li><a href="{{ path(app.request.get('_route')) }}/{{ name }}">{{ name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
