{% extends 'base.html.twig' %}

{% block title %}| Civ 6{% endblock %}

{% block body %}
  <div class="nav">
    <div class="item">
      <a href="{{ path(app.request.get('_route')) }}/leaders">Leaders</a>
    </div>
  </div>
{% endblock %}
